@model List<OnlineCarrerPortal.Models.QualificationModel>
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/css/style.css" rel="stylesheet" />
<script src="~/Scripts/jquery.sumoselect.js"></script>
<link href="~/Content/css/dropdownliststyle.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {
        window.asd = $('select[name=Qalification]').SumoSelect({ csvDispCount: 4 });
    });
</script>
<div>
    <form action="@Url.Action("AddJob","job")" method="post">
        <input type="hidden" value="UserID" name="UserID" />
        <input type="hidden" value="EmployerID" name="EmployerID" />
        <ul>
            <li>
                <label>Job Title</label>
                <input name="JobTitle" id="textJobTitle" placeholder="Job Title" type="text" />
            </li>
            <li>
                <label>Description</label>
                <input name="Description" id="textDescription" placeholder="Description" type="text" />
            </li>

            <li>
                <label>CompanyName</label>
                <input name="CompanyName" id="textCompanyName" placeholder="CompanyName" type="text" />
            </li>
            <li>
                <label>SalaryPackage</label>
                <input name="SalaryPackage" id="textSalaryPackage" placeholder="SalaryPackage" type="text" />
            </li>
            <li>
                <label>RequiredQalification</label>
                <input name="RequiredQalification" id="textRequiredQalification" placeholder="RequiredQalification" type="text" />
            </li>
            <li>
                <label>EndDate</label>
                <input name="EndDate" id="textEndDate" placeholder="EndDate" type="text" />
            </li>
            <li>
                <label>ContactNumber</label>
                <input name="ContactNumber" id="textContactNumber" placeholder="ContactNumber" type="text" />
            </li>
            <li>
                <label>Qualification</label>
                <select name="Qalification" multiple="multiple">
                    @foreach (OnlineCarrerPortal.Models.QualificationModel Qual in Model)
                    {
                        <option value="@Qual.QualificationID">@Qual.Qualification</option>
                    }
                </select>
            </li>
            <li>
                <input id="btnRegister" value="Post Job" type="submit" />
                <input id="btnCancel" value="Cancel" type="button" />
            </li>

        </ul>
    </form>
</div>
