@model List<OnlineCarrerPortal.Models.QualificationModel>
@{
    Layout = null;
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/style.css" rel="stylesheet" />
<script src="~/Scripts/jquery.sumoselect.js"></script>
<link href="~/Content/css/dropdownliststyle.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {
        window.asd = $('select[name=Qalification]').SumoSelect({ csvDispCount: 4 });
    });
</script>
<div class="row log-reg-area">
    <div class="col-lg-6">
        <form action="@Url.Action("Registration","Login")" method="post">
            <div class="row">
                <div class="col-lg-12"><h2>Sign Up</h2></div>
            </div>
            <div class="registration-area">
                <div class="row">
                    <div class="col-lg-4">
                        <label>First Name</label>
                    </div>
                    <div class="col-lg-8">
                        <input name="FirstName" id="textFirstName" placeholder="First Name" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label>Last Name</label>
                    </div>
                    <div class="col-lg-8">
                        <input name="LastName" id="textFirstName" placeholder="Last Name" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label>Contact Number</label>
                    </div>
                    <div class="col-lg-8">
                        <input name="ContactNumber" id="textFirstName" placeholder="Contact Number" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label>Email</label>
                    </div>
                    <div class="col-lg-8">
                        <input name="Email" id="textFirstName" placeholder="Email" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label>Password</label>
                    </div>
                    <div class="col-lg-8">
                        <input name="Password" id="textFirstName" placeholder="Password" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label>Confirm Password</label>
                    </div>
                    <div class="col-lg-8">
                        <input name="ConfirmPassword" id="textFirstName" placeholder="Confirm Password" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label>User Type</label>
                    </div>
                    <div class="col-lg-8">
                        <select name="UserTypeID">
                            <option value="2">Company</option>
                            <option value="3">JobSeeker</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label>Qualification</label>
                    </div>
                    <div class="col-lg-8">
                        <select name="Qalification" multiple="multiple">
                            @foreach (OnlineCarrerPortal.Models.QualificationModel Qual in Model)
                            {
                                <option value="@Qual.QualificationID">@Qual.Qualification</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <a href="javascript:void(0);" onclick="return fnAddFile();" class="addfile">Upload CV</a>
                    </div>
                    <div class="col-lg-8">
                        <input type="file" id="fileBrowse" name="fileBrowse" style="display:none">
                        <input id="CVName" name="CVPath" style="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-8">
                        <input id="btnRegister" value="Register" type="submit" />
                        <input id="btnCancel" value="Cancel" type="button" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-6">
        <form action="@Url.Action("Login","Login")" method="post">
            <div class="row">
                <div class="col-lg-12"><h2>Sign In</h2></div>
            </div>
            <div class="login-area">
                <div class="row">
                    <div class="col-lg-4">
                        <label>User Name</label>
                    </div>
                    <div class="col-lg-8">
                        <input name="Email" id="textFirstName" placeholder="User Name" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label>Password</label>
                    </div>
                    <div class="col-lg-8">
                        <input name="Password" id="textFirstName" placeholder="Password" type="password" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-8">
                        <input id="btnLogin" value="Login" type="submit" />
                        <input id="btnCancel" value="Cancel" type="button" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function fnAddFile() {
        $('#fileBrowse').click();
    }

    $(function () {
        $("input:file").change(function (e) {
            var files = e.target.files;
            var fileData = new FormData();
            fileData.append(files[0].name, files[0]);
            $.ajax({
                type: 'POST',
                url: '/Login/CreateCV',
                data: fileData,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        $('#CVName').val(response.Status);
                    }
                }
            });
        });
    });
</script>